/! footer-area start
footer.footer-area
  /! footer-top
  .footer-widgets
    .container
      .row
        .col-lg-3.col-sm-6
          .footer-widget
            h4 About Company
            .about-widget
              p It is a long established fact that a reader will be distracted by readable content of a page when looking at layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution.
        .col-lg-3.col-sm-6
          .footer-widget
            h4 Twitter Feed
            .twitter-feed
              ul.list-none
                li
                  ul.list-none.inline-list
                    li
                      a href="#" 
                        i.social_twitter
                        | Thegarden
                      span \
                    li 8 months ago
                  p It's an exclusive offer. Varmo Magento Multipurpose Responsive Theme
                li
                  ul.list-none.inline-list
                    li
                      a href="#" 
                        i.social_twitter
                        | Thegarden
                      span \
                    li 8 months ago
                  p It's an exclusive offer. Varmo Magento Multipurpose Responsive Theme
        .col-lg-3.col-sm-6
          .footer-widget
            h4 Instagram
            .instagram-imgages
              a href="#" = image_tag "instagram/1.jpg", alt:"instagram"
              a href="#" = image_tag "instagram/2.jpg", alt:"instagram"
              a href="#" = image_tag "instagram/3.jpg", alt:"instagram"
              a href="#" = image_tag "instagram/4.jpg", alt:"instagram"
              a href="#" = image_tag "instagram/5.jpg", alt:"instagram"
              a href="#" = image_tag "instagram/6.jpg", alt:"instagram"
        .col-lg-3.col-sm-6
          .footer-widget
            h4 Working Hours
            .work-hours
              ul.list-none
                li
                  | Monday
                  span 07:00-17:00
                li
                  | Tuesday
                  span 07:00-17:00
                li
                  | Wednesday
                  span 07:00-17:00
                li
                  | Thursday
                  span 07:00-17:00
                li
                  | Friday
                  span 07:00-17:00
                li
                  | Saturday
                  span 07:00-17:00
                li
                  | Sunday
                  span CLOSE
  /! footer copyright
  .footer-copyright
    .container
      .row
        .col-sm-12
          p
            a href="templatespint.net"  Templates Point
/! footer-area end
