<!--service-area start-->
<div class="service-area mt-minus-100 sm-mt-80">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="sin-service">
          <%= image_tag "promo/1.jpg", alt: "promo" %>
          <h3>Planting &amp; Garden Care</h3>
          <p>Don't be distracted by criticism. Remember the only taste of success some people.</p>
          <a class="readmore" href="#"> Read More</a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="sin-service">
          <%= image_tag "promo/2.jpg", alt: "promo" %>
          <h3>Watering Your Garden</h3>
          <p>Don't be distracted by criticism. Remember the only taste of success some people.</p>
          <a class="readmore" href="#"> Read More</a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 d-lg-block d-md-none">
        <div class="sin-service">
          <%= image_tag "promo/3.jpg", alt: "promo" %>
          <h3>Design &amp; Renovation</h3>
          <p>Don't be distracted by criticism. Remember the only taste of success some people.</p>
          <a class="readmore" href="#"> Read More</a>
        </div>
      </div>
    </div>
  </div>
</div><!--service-area end-->
