/! page-banner-area start
.page-banner-area.bg-landscape.overlay
  .container
    .row.align-items-center.height-400
      .col-lg-12
        .page-banner-text.text-center.text-white
          h2 Galerie
          ul.site-breadcrumb
            li
              =link_to "Accueil", root_path
              span >
            li Galerie
/! page-banner-area end

/! project-area start
.project-area.mt-90.sm-mt-70
  .container
    .row
      .col-lg-8.offset-lg-2
        .section-title.text-center
          h3 Galerie
    .row.mt-35
      .col-lg-12
        .project-nav
          ul
            li.active data-filter="*"  Toutes les photos
            li data-filter=".gite_1"  Le Petit Gîte
            li data-filter=".gite_2"  Le Grand Gîte
            li data-filter=".planting"  Planting
            li data-filter=".landscape"  Landscape
    .row.mt-35.project-items
      .col-lg-3.col-md-6.col-sm-12.gite_1
        .single-project.mb-30
          .project-thumb
            = image_tag "projects/gallery/grand_gite/4.jpg", alt:""
          .project-desc
            a.venobox data-gall="projectGallery" href="#{asset_path("projects/gallery/grand_gite/4.jpg")}"
              i.fa.fa-expand
            h4
              a href="gallery-details.html"  Flowerscaping
      .col-lg-3.col-md-6.col-sm-12.gite_2
        .single-project.mb-30
          .project-thumb
            = image_tag "projects/gallery/grand_gite/2.jpg", alt:""
          .project-desc
            a.venobox data-gall="projectGallery" href="#{asset_path("projects/gallery/grand_gite/2.jpg")}"
              i.fa.fa-expand
            h4
              a href="gallery-details.html"  Flowerscaping
      .col-lg-3.col-md-6.col-sm-12.planting
        .single-project.mb-30
          .project-thumb
            = image_tag "projects/gallery/grand_gite/1.jpg", alt:""
          .project-desc
            a.venobox data-gall="projectGallery" href="#{asset_path("projects/gallery/grand_gite/1.jpg")}"
              i.fa.fa-expand
            h4
              a href="gallery-details.html"  Flowerscaping
      .col-lg-3.col-md-6.col-sm-12.landscape
        .single-project.mb-30
          .project-thumb
            = image_tag "projects/gallery/grand_gite/3.jpg", alt:""
          .project-desc
            a.venobox data-gall="projectGallery" href="#{asset_path("projects/gallery/grand_gite/3.jpg")}"
              i.fa.fa-expand
            h4
              a href="gallery-details.html"  Flowerscaping
      .col-lg-3.col-md-6.col-sm-12.gite_1
        .single-project.mb-30
          .project-thumb
            = image_tag "projects/gallery/environnement/2.jpg", alt:""
          .project-desc
            a.venobox data-gall="projectGallery" href="#{asset_path("projects/gallery/environnement/2.jpg")}"
              i.fa.fa-expand
            h4
              a href="gallery-details.html"  Flowerscaping
      .col-lg-3.col-md-6.col-sm-12.gite_2
        .single-project.mb-30
          .project-thumb
            = image_tag "projects/gallery/environnement/5.jpg", alt:""
          .project-desc
            a.venobox data-gall="projectGallery" href="#{asset_path("projects/gallery/environnement/5.jpg")}"
              i.fa.fa-expand
            h4
              a href="gallery-details.html"  Flowerscaping

/! project-area end
/! subscribe-area start
.subscribe-area.mt-70.sm-mt-50
  .container
    .row
      .col-lg-6.offset-lg-3
        .subscribe-form
          h3 Subscribe To Our Newletter
          p We will send you the monthly Newsletter
          input placeholder=("Your Email") type="email" /
          button.btn-common Subscribe
/! subscribe-area end
