<!--about-area start-->
<div class="about-area mt-85 sm-mt-30">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2 col-sm-12">
        <div class="section-title">
          <h2>Little About Us</h2>
          <p>
            We are professtional gardener It is a long established fact that a reader
            <br/>
            will be distracted by the readable content of a page when looking at its layout.
          </p></div>
      </div>
    </div>
    <div class="row mt-55 sm-mt-37 xs-mt-57">
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="sin-service style-2">
          <i class="ti-clipboard">
          </i>
          <h3>License &amp; Insurance</h3>
          <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
            laborum.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="sin-service style-2">
          <i class="ti-truck">
          </i>
          <h3>License &amp; Insurance</h3>
          <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
            laborum.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="sin-service style-2">
          <i class="ti-cup">
          </i>
          <h3>License &amp; Insurance</h3>
          <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
            laborum.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="sin-service style-2">
          <i class="ti-comments">
          </i>
          <h3>License &amp; Insurance</h3>
          <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
            laborum.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="sin-service style-2">
          <i class="ti-calendar">
          </i>
          <h3>License &amp; Insurance</h3>
          <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
            laborum.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="sin-service style-2">
          <i class="ti-thumb-up">
          </i>
          <h3>License &amp; Insurance</h3>
          <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
            laborum.</p>
        </div>
      </div>
    </div>
  </div>
</div><!--about-area end-->
