<!--about-area start-->
<div class="about-area mt-85 sm-mt-30">
  <div class="container">
    <div class="row mt-55 sm-mt-37 xs-mt-57">
      <div class="col-lg-2 col-md-3 col-sm-6">
        <div class="sin-service style-2">
          <i class="fa fa-home">
          </i>
          <h3>Propriété indépendante</h3>
        </div>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-6">
        <div class="sin-service style-2">
          <i class="fa fa-user">
          </i>
          <h3>Propriétaire sur place</h3>
        </div>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-6">
        <div class="sin-service style-2">
          <i class="fa fa-pagelines">
          </i>
          <h3>Retour aux sources</h3>
        </div>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-6">
        <div class="sin-service style-2">
          <i class="fa fa-child">
          </i>
          <h3>Adapté pour les enfants</h3>
        </div>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-6">
        <div class="sin-service style-2">
          <i class="fa fa-bed">
          </i>
          <h3>Lit enfant</h3>
        </div>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-6">
        <div class="sin-service style-2">
          <i class="fa fa-wifi"></i>
          <h3>Internet</h3>
        </div>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-6">
        <div class="sin-service style-2">
          <i class="fa fa-television">
          </i>
          <h3>TV</h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 offset-md-2 col-sm-12">
        <div class="section-title">
          <h2>La propriété</h2>
          <p>
            Venez vous ressourcer dans un endroit calme et préservé, où les amoureux de la nature auront tout le loisir de profiter d'un lieu vert, avec une vue magnifique sur la nature environnante.<br>
            Le gîte est entièrement équipé et indépendant. Il dispose d'une pièce commune avec un espace salon, salle à manger et cuisine équipée.<br>
            Deux chambres sont à votre disposition, l'une avec un lit double et l'autre avec deux lits jumeaux. La salle de bain est commune aux deux chambres (douche, WC et lavabo).<br>
            Deux terrasses sont accessibles depuis le gîte et équipées de mobilier de jardin afin de vous permettre de profiter de la nature environnante en toute tranquillité.<br>
            Nous mettons à votre disposition du petit matériel pour des activités en extérieur (raquettes, jeux enfants, boules de pétanque légères, etc.), ainsi que de quoi faire des barbecues aux beaux jours.<br>
            La location du gîte donne accès à notre piscine extérieure de 5x10 mètres, ainsi qu'au boulodrome. Notre propriété, située au cœur du Parc Naturel Régional Périgord Limousin, dispose d'un grand terrain qui vous permettra de profiter de la nature. De plus, jusqu'à 200km de sentiers de randonnée sont accessibles directement depuis notre propriété.<br>
            Proche de toutes commodités, le gîte se situe à 5 km de tous les commerces utiles.
          </p>
        </div>
      </div>
    </div>
  </div>
</div><!--about-area end-->
