<!--banner-area start-->
<div class="banner-area bg-1 overlay">
  <div class="container">
    <div class="row align-items-start height-100vh pb-111">
      <div class="col-sm-12">
        <div class="banner-text text-center mt-15vh">
          <h2>Les Gîtes du Puy</h2>
        </div>
      </div>
    </div>
  </div>
</div>
<!--banner-area end-->
