<!--contact-form area-->
<div class="contact-area bg-1 mt-83 sm-mt-40">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2 col-sm-12">
        <div class="section-title">
          <h2>Start Your Project Now</h2>
        </div>
      </div>
    </div>
    <div class="row mt-32 sm-mt-2">
      <div class="col-lg-8 offset-lg-2 col-md-12 col-sm-12">
        <div class="contact-form style-1 text-center">
          <form action="#" method="POST">
            <div class="row">
              <div class="col-sm-6">
                <input name="name" placeholder="Name" required="" type="text"/>
              </div>
              <div class="col-sm-6">
                <input name="phone" placeholder="Phone" required="" type="text"/>
              </div>
              <div class="col-sm-6">
                <input name="email" placeholder="Email" required="" type="email"/>
              </div>
              <div class="col-sm-6">
                <select>
                  <option value=""> Choose Your Service</option>
                  <option value=""> Lawn Care</option>
                  <option value=""> Garden Care</option>
                  <option value=""> Planting</option>
                  <option value=""> Landscape</option>
                </select></div>
              <div class="col-sm-12">
                <input name="website" placeholder="Website" required="" type="text"/>
              </div>
              <div class="col-sm-12">
<textarea name="message" placeholder="Message">
</textarea></div>
              <div class="col-sm-12">
                <button class="btn-common btn-border">Send messages</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div><!--contact-form end-->
