<!--cta-area start-->
<div class="cta-area mt-100 sm-mt-80">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-8">
        <div class="cta-text">
          <h3>
            Live help number
            <span 88="">0111 223 445 - (99) 222 555 1111</span>
          </h3>
          <p>Call Us Now When You Have Any Gardening Question.</p>
        </div>
      </div>
      <div class="col-md-4">
        <a class="btn-common cta-btn width-190 pull-right" href="#"> Contact Now</a>
      </div>
    </div>
  </div>
</div><!--cta-area end-->
