<!--blog-area start-->
<div class="blog-area mt-85 sm-mt-60">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 offset-sm-2">
        <div class="section-title">
          <h2>Our Latest Blog</h2>
        </div>
      </div>
    </div>
    <div class="row mt-63 sm-mt-40">
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="single-blog">
          <div class="blog-thumb">
            <a href="blog-details.html"><%= image_tag "blog/1.jpg", alt: "blog-image" %>
            </a></div>
          <div class="blog-desc">
            <h3>
              <a href="blog-details.html"> Landscape Architects Network</a>
            </h3>
            <p>Don't be distracted by criticism. Remember the only taste of success some people.</p>
            <a class="readmore" href="blog-details.html"> Read More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="single-blog">
          <div class="blog-thumb">
            <a href="blog-details.html"><%= image_tag "blog/2.jpg", alt: "blog-image" %>
            </a></div>
          <div class="blog-desc">
            <h3>
              <a href="blog-details.html"> Expansion of Portland Japanese</a>
            </h3>
            <p>Don't be distracted by criticism. Remember the only taste of success some people.</p>
            <a class="readmore" href="blog-details.html"> Read More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 d-lg-block col-md-6 d-md-none col-sm-12">
        <div class="single-blog">
          <div class="blog-thumb">
            <a href="blog-details.html"><%= image_tag "blog/3.jpg", alt: "blog-image" %>
            </a></div>
          <div class="blog-desc">
            <h3>
              <a href="blog-details.html"> Architects and Urban Designers</a>
            </h3>
            <p>Don't be distracted by criticism. Remember the only taste of success some people.</p>
            <a class="readmore" href="blog-details.html"> Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><!--blog-area end-->
