<!--service-area start-->
<div class="service-area mt-minus-60vh sm-mt-80">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="sin-service">
          <a class="text-dark" href="public/gallery/grand_gite.html">
            <%= image_tag "projects/gallery/grand_gite/1.jpg", alt: "" %>
            <h3>Grand Gîte</h3>
            <p>Accroche pour le grand gîte - Ce grand gîte est super</p>
          </a>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="sin-service">
          <a class="text-dark" href="public/gallery/petit_gite.html">
            <%= image_tag "projects/gallery/petit_gite/1.jpg", alt: "" %>
            <h3>Petit Gîte</h3>
            <p>Accroche pour le petit gîte - Ce petit gîte est super</p>
          </a>
        </div>
      </div>
      <!--      <div class="col-lg-4 col-md-6 col-sm-12 d-lg-block d-md-none">-->
      <!--        <div class="sin-service">-->
      <%#= image_tag "promo/3.jpg", alt: "promo" %>
      <!--          <h3>Design &amp; Renovation</h3>-->
      <!--          <p>Don't be distracted by criticism. Remember the only taste of success some people.</p>-->
      <!--          <a class="readmore" href="#"> Read More</a>-->
      <!--        </div>-->
      <!--      </div>-->
    </div>
  </div>
</div><!--service-area end-->
