<!--testimonial-area start-->
<div class="testimonial-area bg-1 mt-62 sm-mt-30">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 offset-sm-2">
        <div class="section-title text-center">
          <h2>Ce qu'en disent les visiteurs</h2>
        </div>
      </div>
    </div>
    <div class="row mt-35">
      <div class="col-lg-10 offset-lg-1 col-md-12">
        <div class="testimonial-items carousel-one arrow-none">
          <div class="single-testimonial">
            <p>
              I wanted to mention that these days, when the opposite of good customer and tech support
              <br/>
              tends to be the norm, it’s always great having a team like you guys at The Garden! So, be sure
              <br/>
              that I’ll always spread the word about how good your product is and the extraordinary level of
              <br/>
              support that you provide any time there is any need for it.
            </p><h4>Nancy Franklin</h4>
            <small>UI/UX Designer</small>
          </div>
          <div class="single-testimonial">
            <p>
              I wanted to mention that these days, when the opposite of good customer and tech support
              <br/>
              tends to be the norm, it’s always great having a team like you guys at The Garden! So, be sure
              <br/>
              that I’ll always spread the word about how good your product is and the extraordinary level of
              <br/>
              support that you provide any time there is any need for it.
            </p><h4>Nancy Franklin</h4>
            <small>UI/UX Designer</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><!--testimonial-area end-->
